<!DOCTYPE html>
<html>
<head>
  <title>Rango</title>
  {% load staticfiles %}

  <style media="screen">
    .bg {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1
    }
    .box {
      background-color: rgba(255,255,255,0.3);
      padding: 10px;
    }
  </style>
</head>
<body>
  <img src="{% static "images/aurora.jpg" %}" class="bg" alt="Auroras background">
  <div class="box">
    <h1>Rango says here is the about page</h1>
    <div>
      <p>Tango with Django exercise project.</p>
      <p>This tutorial has been put together by Luca Vizzarro.</p>
      <p><img src="{{ MEDIA_URL }}cat.jpg" alt="Cat" width="360"></p>
      <p> <a href="/rango/">Index</a> </p>
    </div>
  </div>
</body>
</html>
