<!DOCTYPE html>
<html>
<head>
  <title>Rango</title>
  {% load staticfiles %}

  <style media="screen">
    body {
      background-image: url({% static "images/aurora.jpg" %});
      background-size: cover;
      background-position: top;
    }
    .box {
      background-color: rgba(255,255,255,0.3);
      padding: 10px
    }
  </style>
</head>
<body>
  <div class="box">
    <h1>Rango says...</h1>
    <div>
      <p>Tango with Django exercise project.</p>
      <p>This tutorial has been put together by Luca Vizzarro.</p>
      <p><img src="{{ MEDIA_URL }}cat.jpg" alt="Cat" width="360"></p>
    </div>
  </div>
</body>
</html>
